# server configuration
HOST=localhost
PORT=5000

# node-postgres configuration
DBHOST=localhost
DBUSER=developer
DBNAME=notes_app
DBPASS=supersecretpassword
DBPORT=3306

# JWT token
ACCESS_TOKEN_KEY=4096c61da931bc755537f48cf4c8db63ac4912f6c738955dd1243560468beb347f0ecf0aca4bcabc6809482e3d8d6baac52cd8b856b42357f1d78cf1d2b4d7ae
ACCESS_TOKEN_AGE=21600 # 6 hours