{
    "openapi": "3.0.3",
    "info": {
        "title": "NotesApp RESTful API",
        "version": "1.0.0",
        "description": "Open API for NotesApp",
        "contact": {
            "name": "Ade Iskandar Zulkarnaen",
            "email": "adeiskandarzulkarnaen@gmail.com",
            "url": "https://github.com/adeiskandarzulkarnaen"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        }
    },
    "externalDocs": {
        "description": "External Documentation",
        "url": "https://github.com/adeiskandarzulkarnaen"
    },
    "servers": [
        {
            "url": "https://canihave.my.id:{port}",
            "description": "production",
            "variables": {
                "port": {
                    "description": "server port",
                    "default": "443",
                    "enum": [
                        "443",
                        "3000",
                        "5000"
                    ]
                }
            }
        },
        {
            "url": "http://localhost:{port}",
            "description": "localhost",
            "variables": {
                "port": {
                    "default": "8080",
                    "description": "server port",
                    "enum": [
                        "8080",
                        "3000",
                        "5000"
                    ]
                }
            }
        }
    ],
    "tags": [
        {
            "name": "Authentications"
        },
        {
            "name": "Users"
        },
        {
            "name": "Notes"
        },
        {
            "name": "Collaborations"
        }
    ],
    "paths": {
        "/users": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "register user",
                "description": "use this end point to register a new user, if username already registered server response will throw ClientError.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "username",
                                    "password",
                                    "fullname"
                                ],
                                "properties": {
                                    "username": {
                                        "type": "string"
                                    },
                                    "password": {
                                        "type": "string"
                                    },
                                    "fullname": {
                                        "type": "string"
                                    }
                                }
                            },
                            "examples": {
                                "success": {
                                    "description": "register new user with valid body request",
                                    "value": {
                                        "username": "adeiskandarzulkarnaen",
                                        "password": "rahasia",
                                        "fullname": "Ade Iskandar Zulkarnaen"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success Register User Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "userId": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "status": "success",
                                            "message": "user berhasil ditambahkan",
                                            "data": {
                                                "userId": "user-4IbUCVPsj0lxhEMJ"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "operationId": "addUser",
                "security": []
            },
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "search users",
                "description": "use this endpoint to get a list of all users, there is also an optional query parameter to search for users by username.",
                "operationId": "getUsersByUsername",
                "parameters": [
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "username",
                        "description": "Optional query param to search user"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success get data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "users": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "username": {
                                                                "type": "string"
                                                            },
                                                            "fullname": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "status": "success",
                                            "message": "berhasil mendapatkan data user",
                                            "data": {
                                                "users": [
                                                    {
                                                        "id": "user-4IbUCVPsj0lxhEMJ",
                                                        "username": "2006043",
                                                        "fullname": "Ade Iskandar Zulkarnaen"
                                                    },
                                                    {
                                                        "id": "user-j0lxhEMJ4IbUCVPs",
                                                        "username": "2006040",
                                                        "fullname": "Zamzam Nurahman"
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "NotesAppBearerToken": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Users"
                ],
                "operationId": "addUserImage",
                "summary": "add user image",
                "description": "use this endpoint to upload user images. Each user only has one image and can only upload it for himself.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "data"
                                ],
                                "properties": {
                                    "data": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "success upload image file",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "fileName": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "status": "success",
                                            "message": "berhasil menambahkan image",
                                            "data": {
                                                "fileName": "1714875618788_aderedbg.png"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "NotesAppBearerToken": []
                    }
                ]
            }
        },
        "/users/{id}": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "get user data by userId",
                "description": "use this endpoint to get specific user data.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "userId for get user",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success getUserByUserId Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "user": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "username": {
                                                            "type": "string"
                                                        },
                                                        "fullname": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "status": "success",
                                            "data": {
                                                "user": {
                                                    "id": "user-4IbUCVPsj0lxhEMJ",
                                                    "username": "adeiskandarzulkarnaen",
                                                    "fullname": "Ade Iskandar Zulkarnaen"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "operationId": "getSpecificUserData",
                "security": [
                    {
                        "NotesAppBearerToken": []
                    }
                ]
            },
            "parameters": [
                {
                    "schema": {
                        "type": "string",
                        "example": "user-4IbUCVPsj0lxhEMJ"
                    },
                    "name": "id",
                    "in": "path",
                    "description": "userId",
                    "required": true
                }
            ]
        },
        "/users/{id}/image": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "get user image",
                "description": "use this endpoint to get photos belonging to users, where all users can access photos belonging to anyone.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "userId for get user image photo",
                        "schema": {
                            "type": "string"
                        },
                        "example": "/users/user-123/images"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success getUserImage response",
                        "content": {
                            "image/png": {},
                            "image/jpeg": {}
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "operationId": "getUserImage",
                "security": [
                    {
                        "NotesAppBearerToken": []
                    }
                ]
            },
            "parameters": [
                {
                    "schema": {
                        "type": "string",
                        "example": "user-4IbUCVPsj0lxhEMJ"
                    },
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "userId"
                }
            ]
        },
        "/authentications": {
            "post": {
                "tags": [
                    "Authentications"
                ],
                "summary": "auth login",
                "description": "use this endpoint to login and get access-token and refresh token",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "username",
                                    "password"
                                ],
                                "properties": {
                                    "username": {
                                        "type": "string"
                                    },
                                    "password": {
                                        "type": "string"
                                    }
                                }
                            },
                            "examples": {
                                "valid payload": {
                                    "value": {
                                        "username": "adeiskandarzulkarnaen",
                                        "password": "rahasia"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "accessToken": {
                                                    "type": "string"
                                                },
                                                "refreshToken": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "status": "success",
                                            "message": "authentication login berhasil",
                                            "data": {
                                                "accessToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9",
                                                "refreshToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "operationId": "authLogin",
                "security": []
            },
            "delete": {
                "tags": [
                    "Authentications"
                ],
                "summary": "auth logout",
                "description": "use this endpoint to logout your account and will delete the refresh token in the database server",
                "requestBody": {
                    "description": "body request logout",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "refreshToken"
                                ],
                                "properties": {
                                    "refreshToken": {
                                        "type": "string"
                                    }
                                }
                            },
                            "examples": {
                                "valid payload": {
                                    "value": {
                                        "refreshToken": "J0RwTP_Pikq3DG0KNnWgIrKlX3L2jh7zba2oJ8JBpv"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": {
                                    "status": "success",
                                    "message": "authentication logout berhasil"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "operationId": "authLogout",
                "security": []
            },
            "put": {
                "tags": [
                    "Authentications"
                ],
                "summary": "renew access token",
                "description": "use this endpoint to get new access token if old access token is expired",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "refreshToken"
                                ],
                                "properties": {
                                    "refreshToken": {
                                        "type": "string"
                                    }
                                }
                            },
                            "examples": {
                                "valid payload": {
                                    "value": {
                                        "refreshToken": "J0RwTP_Pikq3DG0KNnWgIrKlX3L2jh7zba2oJ8JBpv"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "accessToken": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "status": "success",
                                    "message": "access token berhasil diperbarui.",
                                    "data": {
                                        "accessToken": "PcD1fg3Cx1cy0vGInKKJDpuXwY5K-HvA2TgLzwyVn3g"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/500"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "operationId": "authRenewToken",
                "security": []
            }
        },
        "/notes": {
            "post": {
                "tags": [
                    "Notes"
                ],
                "summary": "add new notes",
                "description": "Use this endpoint to add a new note with ownership of the user who created it.",
                "requestBody": {
                    "description": "request body to add new notes",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "title",
                                    "tags",
                                    "body"
                                ],
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "tags": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "body": {
                                        "type": "string"
                                    }
                                }
                            },
                            "examples": {
                                "valid payload": {
                                    "value": {
                                        "title": "Tugas 2 Machine Learning",
                                        "tags": [
                                            "Computer Science",
                                            "CNN"
                                        ],
                                        "body": "Membuat model clasifikasi gambar, deadline tugas sampai 30 Maret 2024"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "success create new note",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "noteId": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "status": "success",
                                            "message": "catatan berhasil ditambahkan",
                                            "data": {
                                                "noteId": "note-shublDik8N3G9GJ1"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "operationId": "addNote",
                "security": [
                    {
                        "NotesAppBearerToken": []
                    }
                ]
            },
            "get": {
                "tags": [
                    "Notes"
                ],
                "summary": "get all notes",
                "description": "use this endpoint to get all your note data and collaboration note data",
                "responses": {
                    "200": {
                        "description": "success gets all your notes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "notes": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "title": {
                                                                "type": "string"
                                                            },
                                                            "tags": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "owner": {
                                                                "type": "string"
                                                            },
                                                            "createdAt": {
                                                                "type": "string"
                                                            },
                                                            "updatedAt": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "status": "success",
                                            "message": "berhasil mendapatkan data notes",
                                            "data": {
                                                "notes": [
                                                    {
                                                        "id": "note-mlmsubgg",
                                                        "title": "Tugas 2 Machine Learning",
                                                        "body": "Membuat model clasifikasi gambar, deadline tugas sampai 30 Maret 2024",
                                                        "tags": [
                                                            "Computer Science",
                                                            "CNN"
                                                        ],
                                                        "owner": "user-xdacnd1",
                                                        "createdAt": "2024-05-03T03:30:55.612Z",
                                                        "updatedAt": "2024-05-03T03:30:55.612Z"
                                                    },
                                                    {
                                                        "id": "note-Lsjbsh",
                                                        "title": "Tugas 3 Pemrograman Mobile",
                                                        "body": "Membuat aplikasi catatan, deadline tugas 4 minggu sampai 2 April 2024",
                                                        "tags": [
                                                            "Pemrograman Mobile",
                                                            "Flutter",
                                                            "SQLite"
                                                        ],
                                                        "owner": "user-xdacnd1",
                                                        "createdAt": "2024-05-03T03:48:37.261Z",
                                                        "updatedAt": "2024-05-03T03:48:37.261Z"
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "operationId": "getNotes",
                "security": [
                    {
                        "NotesAppBearerToken": []
                    }
                ]
            }
        },
        "/notes/{id}": {
            "get": {
                "tags": [
                    "Notes"
                ],
                "summary": "get specific notes",
                "description": "Use this endpoint to get note of your own note or data of note that you collaborate with",
                "parameters": [
                    {
                        "schema": {
                            "type": "object"
                        },
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "the param contain noteId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success get specific note",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "note": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "title": {
                                                            "type": "string"
                                                        },
                                                        "tags": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "owner": {
                                                            "type": "string"
                                                        },
                                                        "createdAt": {
                                                            "type": "string"
                                                        },
                                                        "updatedAt": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "Example 1": {
                                        "value": {
                                            "status": "success",
                                            "message": "berhasil mendapatkan data note",
                                            "data": {
                                                "note": {
                                                    "id": "note-mlmsubgg",
                                                    "title": "Tugas 2 Machine Learning",
                                                    "body": "Membuat model clasifikasi gambar, deadline tugas sampai 30 Maret 2024",
                                                    "tags": [
                                                        "Computer Science",
                                                        "CNN"
                                                    ],
                                                    "owner": "user-4IbUCVPsj0lxhEMJ",
                                                    "createdAt": "2024-05-03T03:30:55.612Z",
                                                    "updatedAt": "2024-05-03T03:30:55.612Z"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "operationId": "getSpecificNotes",
                "security": [
                    {
                        "NotesAppBearerToken": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Notes"
                ],
                "summary": "update note",
                "description": "Use this endpoint to edit note that you own or note that you collaborate with",
                "parameters": [
                    {
                        "schema": {
                            "type": "string"
                        },
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "the parameter contain noteId"
                    }
                ],
                "requestBody": {
                    "description": "edit note payload",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "title",
                                    "tags",
                                    "body"
                                ],
                                "properties": {
                                    "title": {
                                        "type": "string"
                                    },
                                    "tags": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "body": {
                                        "type": "string"
                                    }
                                }
                            },
                            "examples": {
                                "valid payload": {
                                    "value": {
                                        "title": "Tugas 2 Updated",
                                        "tags": [
                                            "CNN"
                                        ],
                                        "body": "Update Laporan akhir"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "success update note data",
                        "content": {
                            "application/jpeg": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "success update": {
                                        "value": {
                                            "status": "success",
                                            "message": "catatan berhasil diperbarui"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "operationId": "updateNote",
                "security": [
                    {
                        "NotesAppBearerToken": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Notes"
                ],
                "summary": "delete a note",
                "description": "Use this endpoint to delete note that you own or note that you collaborate with",
                "parameters": [
                    {
                        "schema": {
                            "type": "string"
                        },
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "the param contain noteId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success delete a note",
                        "content": {
                            "application/jpeg": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "status": "success",
                                            "message": "catatan berhasil dihapus"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "operationId": "deleteNote",
                "security": [
                    {
                        "NotesAppBearerToken": []
                    }
                ]
            },
            "parameters": [
                {
                    "schema": {
                        "type": "string",
                        "example": "note-lxhEMJUCVIbPsj0"
                    },
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "noteId"
                }
            ]
        },
        "/collaborations": {
            "post": {
                "tags": [
                    "Collaborations"
                ],
                "summary": "add colaboration",
                "description": "use this endpoint to add other users to a note so they can collaborate on our note",
                "requestBody": {
                    "description": "requestBody for add user to colaboration",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "noteId",
                                    "userId"
                                ],
                                "properties": {
                                    "noteId": {
                                        "type": "string"
                                    },
                                    "userId": {
                                        "type": "string"
                                    }
                                }
                            },
                            "examples": {
                                "valid payload": {
                                    "value": {
                                        "noteId": "note-lxhEMJUCVIbPsj0",
                                        "userId": "user-4IbUCVPsj0lxhEMJ"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "success add coolab with user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "collaborationId": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "status": "success",
                                            "message": "colaborasi berhasil ditambahkan",
                                            "data": {
                                                "collaborationId": "collab-dhXN6uI"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "operationId": "addColaboration",
                "security": [
                    {
                        "NotesAppBearerToken": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Collaborations"
                ],
                "summary": "delete collaboration",
                "description": "use this end point to delete user from collaboration",
                "requestBody": {
                    "description": "requestBody for add user to colaboration",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "noteId",
                                    "userId"
                                ],
                                "properties": {
                                    "noteId": {
                                        "type": "string"
                                    },
                                    "userId": {
                                        "type": "string"
                                    }
                                }
                            },
                            "examples": {
                                "valid payload": {
                                    "value": {
                                        "noteId": "note-lxhEMJUCVIbPsj0",
                                        "userId": "user-4IbUCVPsj0lxhEMJ"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "success add coolab with user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "examples": {
                                    "Example 1": {
                                        "value": {
                                            "status": "success",
                                            "message": "colaborasi berhasil dihapus"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "operationId": "deleteCollaboration",
                "security": [
                    {
                        "NotesAppBearerToken": []
                    }
                ]
            }
        }
    },
    "components": {
        "responses": {
            "400": {
                "description": "Client Side Error",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/ErrorSchema"
                        },
                        "examples": {
                            "failed": {
                                "value": {
                                    "status": "failed",
                                    "message": "the error message will be attached here"
                                }
                            }
                        }
                    }
                }
            },
            "401": {
                "description": "Access Token Expired",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/ErrorSchema"
                        },
                        "examples": {
                            "failed": {
                                "value": {
                                    "status": "error",
                                    "message": "Token maximum age exceeded"
                                }
                            }
                        }
                    }
                }
            },
            "500": {
                "description": "Internal Server Error",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/ErrorSchema"
                        },
                        "examples": {
                            "error": {
                                "value": {
                                    "status": "error",
                                    "message": "maaf, terjadi kegagalan pada server kami"
                                }
                            }
                        }
                    }
                }
            }
        },
        "securitySchemes": {
            "NotesAppBearerToken": {
                "type": "http",
                "scheme": "bearer"
            }
        },
        "schemas": {
            "ErrorSchema": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    }
                }
            }
        },
        "requestBodies": {}
    },
    "security": [
        {
            "NotesAppBearerToken": []
        }
    ]
}